.example-container {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
}

.mat-table {
  overflow: auto;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

mat-cell {
  display:flex;
  justify-content:center;
}
