<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img *ngIf="IsLoggedIn()" style="height: 40px; width: 40px; margin-right: 20px; cursor: pointer"
         [src]="'./assets/images/logo.png'" [routerLink]="'/dashboard'"/>
    <img *ngIf="!IsLoggedIn()" style="height: 40px; width: 40px; margin-right: 20px; cursor: pointer"
         [src]="'./assets/images/logo.png'" [routerLink]="'/home'"/>
    <!--<button mat-button class="header-buttons" [routerLink]="'/users'" *ngIf="showUserLink()" style="font-size: 17px" i18n>Users</button>-->
    <!--<button mat-button class="header-buttons" [routerLink]="'/clients'" *ngIf="IsLoggedIn()" style="font-size: 17px" i18n>Clients</button>-->
    <!--<button mat-button class="header-buttons" [routerLink]="'/calendar'" *ngIf="IsLoggedIn()" style="font-size: 17px" i18n>Calendar</button>-->
    <div class="header-buttons">{{currentUrl}}</div>

    <span class="spacer"></span>
    <div *ngIf="IsLoggedIn()" class="dropdown">
      <mat-icon class="account_icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        account_circle
      </mat-icon>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" style="cursor: pointer" (click)="handleUser()">Account</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="logout-href" [routerLink]="'/logout'">Logout</a>
      </div>
    </div>
    <s-login-pg *ngIf="!IsLoggedIn()"></s-login-pg>
  </mat-toolbar-row>
</mat-toolbar>


