.form-reset {
  height: 55vh;
  width: 80vh;
  position: relative;
  border-radius: 2vh;
}

.btn-approve2 {
  margin-left: -1vh;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13vh;
  height: 5vh;
}

.form-control_1, .form-control_2 {
  width: 40vh;
  height: 4vh;
  border-radius: 1vh;
}

.input_1 {
  width: 40vh;
  margin-left: 2vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input_2 {
  width: 40vh;
  margin-left: 2vh;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.alert, .alert-danger {
  width: 40vh;
  margin-top: 10px;
  font-size: 12px;
  height: auto;
}

.errMsg {
  font-size: 15px;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-unlock {
  position: absolute;
  top: 6%;
  left: 39%;
  font-size: 22vh;

}
