
  <form class="form-reset" [formGroup]="form" (ngSubmit)="resetPassword()" >
    <mat-icon class="image-unlock" >local_post_office</mat-icon>


    <div class="input_1" [ngClass]="{'has-error':!form.controls['password'].valid}">
      <input class="form-control_1" type="password" placeholder="Password" [formControl]="form.controls['password']">
      <div *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="alert alert-danger" >You must include a password.</div>
      <div *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="alert alert-danger" >Your password must be at least 6 characters long.</div>
    </div>

    <div class="input_2" [ngClass]="{'has-error':!form.controls['confirmPassword'].valid}">
      <input class="form-control_2" type="password" placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']">
      <div *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="alert alert-danger" >You must repeat the password.</div>
      <div *ngIf="form.controls['confirmPassword'].hasError('minlength') && form.controls['confirmPassword'].touched" class="alert alert-danger" >Your password must be at least 6 characters long.</div>
      <div *ngIf="form.invalid && form.controls['passwordRepeated'].touched"  class="alert alert-danger"> Given passwords are not equal :<</div>

    </div>

    <div class="errMsg" *ngIf="errMsg">{{errMsg}}</div>
    <button class="btn-approve2" type="submit" [disabled]="!form.valid" mat-raised-button >Submit</button>

  </form>

