.form-control {
  display: inline;
  width: 200px;
  height: 30px;
}

.footer-login {
  margin-top: -15px;
}

.errMsg {
  font-size: 13px;
  display: inline;
}

.forgot-pass {
  font-size: 12px;
  font-weight: bold;
  display: inline;
  cursor: pointer;
}
