<form class="forgot-form" (ngSubmit)="sendEmail()">
  <mat-card>
    <mat-card-content i18n>
      If you forgot your password, send us your email and we will send you back message to reset your password.
    </mat-card-content>
  </mat-card>

  <mat-icon class="image-unlock">lock_open</mat-icon>


  <input class="form-control" type="email" id="email" placeholder="example@example.com" name="email"
         [(ngModel)]="model.email" #email="ngModel" required/>
  <button class="btn-approve" mat-raised-button type="submit" i18n>Send</button>
  <div>
    <p class="errMsg" *ngIf="errMsg">{{errMsg}} </p>
  </div>
</form>
