<div class="container-fluid">
  <form (ngSubmit)="editUser(currentUser.id, currentUser)">

    <input value="{{currentUser.id}}"
           name="id"
           type="hidden"
           id="id">


    <div class="form-group">
      <label for="email">Email: </label>
      <input value="{{currentUser.email}}"
             class="form-control"
             name="email"
             type="text"
             id="email"
             [(ngModel)]="currentUser.email">
    </div>

    <!--<div class="form-group">-->
    <!--<label for="login">Username: </label>-->
    <!--<input type="text"-->
    <!--value="{{currentUser.login}}"-->
    <!--class="form-control"-->
    <!--name="login"-->
    <!--id="login"-->
    <!--[(ngModel)]="currentUser.login">-->
    <!--</div>-->

    <div class="form-group">
      <label for="name">Firstname: </label>
      <input type="text"
             value="{{currentUser.name}}"
             class="form-control"
             name="name"
             id="name"
             [(ngModel)]="currentUser.name"
      >
    </div>

    <div class="form-group">
      <label for="surname">Lastname: </label>
      <input type="text"
             value="{{currentUser.surname}}"
             class="form-control"
             name="surname"
             id="surname"
             [(ngModel)]="currentUser.surname"
      >
    </div>

    <div class="form-group">
      <label for="role">Role: </label>
      <select [(ngModel)]="currentUser.role" id="role" name="role" class="form-control">
        <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
      </select>
    </div>
    <div class="errMsg" *ngIf="errMsg">{{errMsg}}</div>
    <button mat-raised-button color="accent" type="submit">Update User</button>

  </form>
</div>
