.mat-raised-button {
  margin-bottom: 5px;
}

.pagination-custom {
  text-align: center;
}

.form-control {
  width: 60vh;
}

.form-edit-add {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-submit-button {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 15vh;
  text-align: center;
  border-radius: 4px;
  font-size: medium;
}

.container-fluid {
  border-radius: 10px;
}

.material-icons {
  font-size: 35px;
  cursor: pointer;
  margin-right: 20px;
}

.searchInput {
  width: 30%;
  margin-left: 20px;
  margin-top: 5px;
}
