<a *ngFor="let activity of activity">
  <div class="container">
    <form class="form-control">
      <div class="container">
        <div style="color: black; font-weight: bold; font-size: x-large">Details:</div>
        <form class="form-control">


          <div class="form-group">
            <label for="type_activity" id="type_activity">Activity type:</label> <a
            style="color: steelblue; font-weight: bold">{{activity.type_activity}}</a>
          </div>

          <div class="form-group">
            <label for="description_activity" id="description_activity">Description:</label> <a
            style="color: steelblue; font-weight: bold">{{activity.description_activity}}</a>
          </div>

        </form>

      </div>
      <div>
      </div>
    </form>
  </div>
</a>
