<ui-carousel [infinite]="false" [fade]="true" [autoPlay]="false">
  <ui-carousel-item>
    <img class="carousel-image" [src]="'./assets/images/pic_5.jpg'" alt="First slide">
    <div class="button_paragraph">
      <p class="first_one" i18n> The #1 Recommended CRM for Individuals </p>
      <p class="second_one" i18n> Empowering relationship manager </p>
      <button class="btn1" mat-raised-button i18n>GET STARTED</button>
      <button class="btn2" mat-raised-button i18n>LEARN MORE</button>
    </div>
  </ui-carousel-item>
  <ui-carousel-item>
    <img class="carousel-image" [src]="'./assets/images/pic_3.jpg'" alt="Second slide">
    <div class="button_paragraph">
      <p class="first_one" i18n> We have an edge over competition </p>
      <p class="second_one" i18n> Check our offer and find out </p>
      <button class="btn1" mat-raised-button i18n>FREE TRIAL</button>
      <button class="btn2" mat-raised-button i18n>OUR STATS</button>
    </div>
  </ui-carousel-item>
  <ui-carousel-item>
    <img class="carousel-image" [src]="'./assets/images/pic_1.jpg'" alt="Third slide">
    <div class="button_paragraph">
      <p class="first_one" i18n>Check our new startup option</p>
      <p class="second_one" i18n>Stay ahead of the competition</p>
      <button class="btn1" mat-raised-button i18n>PRICING</button>
      <button class="btn2" mat-raised-button i18n>CONTACT</button>
    </div>
  </ui-carousel-item>
</ui-carousel>
