.carousel-image {
  height: 100%;
  width: 100%;
  opacity: 0.85;
}

:host ::ng-deep .arrow[_ngcontent-c11] {
  opacity: 0.1;
}

ui-carousel {
  display: block;
  margin: 0;
  height: 95vh !important;
  width: 100%;
}

.button_paragraph {
  position: absolute;
  z-index: 5;
  left: 30vh;
  top: 40vh;
}

.first_one {
  margin: 0;
  font-size: 35px;
  color: white;
}

.second_one {
  font-size: 25px;
  color: white;
}

.btn1 {
  border: 2px solid white;
  color: white;
  background: Transparent no-repeat;
}

.btn1:hover {
  background: white;
  color: #000000;
}

.btn2 {
  color: #000000;
  border: 2px solid white;
  background: #ffffff;
}

:host {
  display: block;
  width: 100%;
}


