.images-container {
}

.image-dark {
  height: 80vh;
  width: 60vm;
  display: inline;
  opacity: 0.3;
}

.image-dark:hover {
  opacity: 1;
}

.image-light {
  height: 80vh;
  width: 60vm;
  display: inline;
  opacity: 0.3;
}

.image-light:hover {
  opacity: 1;
}
