<h2 class="title">Change Password Form</h2>
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Fill out your new password</ng-template>
      <mat-form-field>
        <div [ngClass]="{'has-error':!form.controls['password'].valid}">
        <input matInput type="password" placeholder="Password" [formControl]="form.controls['password']" required>
        <div *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="alert alert-danger" i18n>You must include a password.</div>
        <div *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="alert alert-danger" i18n>Your password must be at least 6 characters long.</div>
        </div>
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Repeat your new password</ng-template>
      <mat-form-field>
        <div [ngClass]="{'has-error':!form.controls['confirmPassword'].valid}">
        <input matInput placeholder="Repeat Password" type="password" [formControl]="form.controls['confirmPassword']" required>
        <div *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="alert alert-danger" i18n>You must repeat the password.</div>
        <div *ngIf="form.controls['confirmPassword'].hasError('minlength') && form.controls['confirmPassword'].touched" class="alert alert-danger" i18n>Your password must be at least 6 characters long.</div>
        <div *ngIf="form.invalid && form.controls['confirmPassword'].touched" class="alert alert-danger" > Given passwords are not equal :<</div>
        </div>
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Change Password</ng-template>
    <div class="final-step">
      <button mat-raised-button color="accent" matStepperPrevious>Back</button>
      <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="sendPassword()">Send</button>
      <p class="errMsg" *ngIf="errMsg">{{errMsg}}</p>
    </div>
  </mat-step>
</mat-horizontal-stepper>
